/* font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

body,
html {
  font-family: 'Work Sans', sans-serif;
}

/* modal-btn */
.modal-btn:hover {
  transition: all 1s;
  background-color: rgb(33, 31, 30);
  color: rgb(255, 255, 255);
}

.modal-content {
  width: 750px !important;
}

.card.mb-3 {
  width: 700px !important;
}

/* close btn */
.modal-header {
  position: relative;
}

.modal-header .btn-close {
  position: absolute;
  right: -20px;
  top: -20px;
  padding: 20px;
  border-radius: 50px;
  background-color: red;
  color: aliceblue;
}

.btn-close {
  background-image: url("https://flaticons.net/icon.php?slug_category=mobile-application&slug_icon=close");
}

/* close btn style end */